ConaxWorkflowManager/Core/Service References/SFAnytime/Opws3Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://Opws3Service.SFAnytime.com" elementFormDefault="qualified" targetNamespace="http://Opws3Service.SFAnytime.com" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://opws3.sfanytime.com/Opws3Service.svc?xsd=xsd1" namespace="http://opws3/RootMediaDetails" />
  <xs:import schemaLocation="http://opws3.sfanytime.com/Opws3Service.svc?xsd=xsd2" namespace="http://opws3/RootMediaDetails_1_3" />
  <xs:element name="getMediaList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="operatorCode" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="country" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="language" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getMediaListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="getMediaListResult" type="tns:MediaList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="MediaList">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="media" type="tns:Media" />
      <xs:element minOccurs="1" maxOccurs="1" name="errorCode" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="1" name="errorMessage" type="xs:string" />
    </xs:sequence>
    <xs:attribute name="totalnumberofmovies" type="xs:int" use="required" />
  </xs:complexType>
  <xs:complexType name="Media">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="id" type="xs:int" />
      <xs:element minOccurs="1" maxOccurs="1" name="rowNr" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="1" name="title" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="modified" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="getListMediaIds">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="operatorCode" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="country" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="language" type="xs:string" />
        <xs:element minOccurs="1" maxOccurs="1" name="listCode" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getListMediaIdsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="getListMediaIdsResult" type="tns:MediaList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getMedia">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="operatorCode" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="country" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="language" type="xs:string" />
        <xs:element minOccurs="1" maxOccurs="1" name="mediaId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getMediaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://opws3/RootMediaDetails" minOccurs="0" maxOccurs="1" name="getMediaResult" type="q1:RootMediaDetails" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getMedia_1_3">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="operatorCode" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="country" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="language" type="xs:string" />
        <xs:element minOccurs="1" maxOccurs="1" name="mediaId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getMedia_1_3Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://opws3/RootMediaDetails_1_3" minOccurs="0" maxOccurs="1" name="getMedia_1_3Result" type="q2:RootMediaDetails_1_3" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getMenu">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="operatorCode" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="country" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="language" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="menuId" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getMenuResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="getMenuResult" type="tns:CategoryMenuXmlStructure" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="CategoryMenuXmlStructure">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="menuItem" type="tns:MenuItem" />
      <xs:element minOccurs="0" maxOccurs="1" name="errorCode" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="errorMessage" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="MenuItem">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="menuItem" type="tns:MenuItem" />
    </xs:sequence>
    <xs:attribute name="id" type="xs:string" />
    <xs:attribute name="level" type="xs:int" use="required" />
    <xs:attribute name="type" type="xs:string" />
    <xs:attribute name="text" type="xs:string" />
    <xs:attribute name="onClickTypeId" type="xs:string" />
    <xs:attribute name="onClickType" type="xs:string" />
    <xs:attribute name="onClickId" type="xs:string" />
  </xs:complexType>
  <xs:element name="getMovieListNamesAndIds">
    <xs:complexType />
  </xs:element>
  <xs:element name="getMovieListNamesAndIdsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="getMovieListNamesAndIdsResult" type="tns:MovieList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="MovieList">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="list" type="tns:ListItem" />
      <xs:element minOccurs="1" maxOccurs="1" name="errorCode" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="1" name="errorMessage" type="xs:string" />
    </xs:sequence>
    <xs:attribute name="totalnumberoflists" type="xs:int" use="required" />
  </xs:complexType>
  <xs:complexType name="ListItem">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="name" type="tns:ListLanguageName" />
    </xs:sequence>
    <xs:attribute name="id" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="ListLanguageName">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="lang" type="xs:string" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
</xs:schema>