ConaxWorkflowManager/Core/Service References/CarbonEncoder/item1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://Rhozet.com/Rhozet.Services.IJmLib" elementFormDefault="qualified" targetNamespace="http://Rhozet.com/Rhozet.Services.IJmLib" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://10.4.1.42:8731/Rhozet.JobManager.JMServices/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Rhozet.ApiLib" />
  <xs:import schemaLocation="http://10.4.1.42:8731/Rhozet.JobManager.JMServices/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="http://10.4.1.42:8731/Rhozet.JobManager.JMServices/?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://10.4.1.42:8731/Rhozet.JobManager.JMServices/?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/System" />
  <xs:element name="GetServerDefinitionList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="type" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetServerDefinitionListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Rhozet.ApiLib" minOccurs="0" name="GetServerDefinitionListResult" nillable="true" type="q1:ArrayOfServerDefinition" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StoreServerDefinition">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="id" type="q2:guid" />
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="description" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="type" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="config" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StoreServerDefinitionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="StoreServerDefinitionResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveServerDefinition">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="id" type="q3:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveServerDefinitionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RemoveServerDefinitionResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNextAvailableJobPriority">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNextAvailableJobPriorityResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetNextAvailableJobPriorityResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateJobPriority">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="jobGUids" nillable="true" type="q4:ArrayOfguid" />
        <xs:element minOccurs="0" name="priority" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateJobPriorityResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="UpdateJobPriorityResult" nillable="true" type="q5:ArrayOfguid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GenerateReport">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="jobGuidToBeGenerated" type="q6:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GenerateReportResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Rhozet.ApiLib" minOccurs="0" name="GenerateReportResult" nillable="true" type="q7:Report" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveJobs">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="guid" nillable="true" type="q8:ArrayOfguid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveJobsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RemoveJobsResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PurgeAllJobs">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="PurgeAllJobsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PurgeAllJobsResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PauseJobs">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="jobGuids" nillable="true" type="q9:ArrayOfguid" />
        <xs:element minOccurs="0" name="cancelRunningTasks" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PauseJobsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="PauseJobsResult" nillable="true" type="q10:ArrayOfguid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ResumeJobs">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="jobGuids" nillable="true" type="q11:ArrayOfguid" />
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Rhozet.ApiLib" minOccurs="0" name="priorityOption" type="q12:PriorityOption" />
        <xs:element minOccurs="0" name="priority" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ResumeJobsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ResumeJobsResult" nillable="true" type="q13:ArrayOfguid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWatchFolderById">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="watchId" type="q14:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWatchFolderByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/Rhozet.ApiLib" minOccurs="0" name="GetWatchFolderByIdResult" nillable="true" type="q15:WatchConfigObject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWatchConfigById">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="watchId" type="q16:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWatchConfigByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetWatchConfigByIdResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWatchConfigPage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="start" type="xs:int" />
        <xs:element minOccurs="0" name="count" type="xs:int" />
        <xs:element minOccurs="0" name="since" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWatchConfigPageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/Rhozet.ApiLib" minOccurs="0" name="GetWatchConfigPageResult" nillable="true" type="q17:ArrayOfWatchConfigObject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWatchConfigPageLean">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="start" type="xs:int" />
        <xs:element minOccurs="0" name="count" type="xs:int" />
        <xs:element minOccurs="0" name="since" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWatchConfigPageLeanResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/Rhozet.ApiLib" minOccurs="0" name="GetWatchConfigPageLeanResult" nillable="true" type="q18:ArrayOfWatchConfigObject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StoreWatchConfig">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="watchId" type="q19:guid" />
        <xs:element xmlns:q20="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="templateId" type="q20:guid" />
        <xs:element minOccurs="0" name="config" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StoreWatchConfigResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="StoreWatchConfigResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveWatchConfig">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="watchId" type="q21:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveWatchConfigResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RemoveWatchConfigResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWorkflowTemplateById">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="workflowId" type="q22:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWorkflowTemplateByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/Rhozet.ApiLib" minOccurs="0" name="GetWorkflowTemplateByIdResult" nillable="true" type="q23:WorkflowTemplateObject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWorkflowXMLById">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="workflowId" type="q24:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWorkflowXMLByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetWorkflowXMLByIdResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWorkflowIdList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWorkflowIdListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/Rhozet.ApiLib" minOccurs="0" name="GetWorkflowIdListResult" nillable="true" type="q25:ArrayOfWorkflowIDWithLastUpdateDateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWorkflowTemplatePage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="start" type="xs:int" />
        <xs:element minOccurs="0" name="count" type="xs:int" />
        <xs:element minOccurs="0" name="since" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWorkflowTemplatePageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/Rhozet.ApiLib" minOccurs="0" name="GetWorkflowTemplatePageResult" nillable="true" type="q26:ArrayOfWorkflowTemplateObject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StoreWorkflowTemplate">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="workflowId" type="q27:guid" />
        <xs:element minOccurs="0" name="config" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="description" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="overwrite" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StoreWorkflowTemplateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="StoreWorkflowTemplateResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveWorkflowTemplate">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="workflowId" type="q28:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveWorkflowTemplateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RemoveWorkflowTemplateResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWatchFoldersAssociatedWithWorkflow">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="workflowId" type="q29:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWatchFoldersAssociatedWithWorkflowResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetWatchFoldersAssociatedWithWorkflowResult" nillable="true" type="q30:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StoreConfig">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="config" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StoreConfigResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="StoreConfigResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveConfig">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveConfigResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RemoveConfigResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetConfigList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="since" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetConfigListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/Rhozet.ApiLib" minOccurs="0" name="GetConfigListResult" nillable="true" type="q31:ArrayOfClientConfig" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetConfigPage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="start" type="xs:int" />
        <xs:element minOccurs="0" name="count" type="xs:int" />
        <xs:element minOccurs="0" name="since" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetConfigPageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/Rhozet.ApiLib" minOccurs="0" name="GetConfigPageResult" nillable="true" type="q32:ArrayOfClientConfig" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetConfig">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetConfigResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetConfigResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetActiveTaskByMachine">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="computerName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetActiveTaskByMachineResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/Rhozet.ApiLib" minOccurs="0" name="GetActiveTaskByMachineResult" nillable="true" type="q33:ArrayOfTask" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetJobManagerMachineTime">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetJobManagerMachineTimeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetJobManagerMachineTimeResult" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMachineGroupById">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q34="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="id" type="q34:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMachineGroupByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q35="http://schemas.datacontract.org/2004/07/Rhozet.ApiLib" minOccurs="0" name="GetMachineGroupByIdResult" nillable="true" type="q35:MachineGroup" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMachineGroupList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMachineGroupListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q36="http://schemas.datacontract.org/2004/07/Rhozet.ApiLib" minOccurs="0" name="GetMachineGroupListResult" nillable="true" type="q36:ArrayOfMachineGroup" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSystemMachineGroupList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSystemMachineGroupListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q37="http://schemas.datacontract.org/2004/07/Rhozet.ApiLib" minOccurs="0" name="GetSystemMachineGroupListResult" nillable="true" type="q37:ArrayOfMachineGroup" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StoreMachineGroup">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q38="http://schemas.datacontract.org/2004/07/Rhozet.ApiLib" minOccurs="0" name="machineGroup" nillable="true" type="q38:MachineGroup" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StoreMachineGroupResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q39="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="StoreMachineGroupResult" type="q39:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveMachineGroup">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q40="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="id" type="q40:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveMachineGroupResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RemoveMachineGroupResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetServerDefinitionById">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q41="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="id" type="q41:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetServerDefinitionByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q42="http://schemas.datacontract.org/2004/07/Rhozet.ApiLib" minOccurs="0" name="GetServerDefinitionByIdResult" nillable="true" type="q42:ServerDefinition" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTaskCountByTaskType">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q43="http://schemas.datacontract.org/2004/07/Rhozet.ApiLib" minOccurs="0" name="type" type="q43:TaskType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTaskCountByTaskTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetTaskCountByTaskTypeResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTaskActiveCountEx">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q44="http://schemas.datacontract.org/2004/07/Rhozet.ApiLib" minOccurs="0" name="status" type="q44:TaskStatus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTaskActiveCountExResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetTaskActiveCountExResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetActiveTaskCount">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q45="http://schemas.datacontract.org/2004/07/Rhozet.ApiLib" minOccurs="0" name="status" type="q45:TaskStatus" />
        <xs:element xmlns:q46="http://schemas.datacontract.org/2004/07/Rhozet.ApiLib" minOccurs="0" name="type" type="q46:TaskType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetActiveTaskCountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetActiveTaskCountResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTaskPage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="start" type="xs:int" />
        <xs:element minOccurs="0" name="count" type="xs:int" />
        <xs:element minOccurs="0" name="since" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTaskPageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q47="http://schemas.datacontract.org/2004/07/Rhozet.ApiLib" minOccurs="0" name="GetTaskPageResult" nillable="true" type="q47:ArrayOfTask" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTaskPageBySchedule">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="start" type="xs:int" />
        <xs:element minOccurs="0" name="count" type="xs:int" />
        <xs:element minOccurs="0" name="since" type="xs:long" />
        <xs:element minOccurs="0" name="startTimeMin" type="xs:long" />
        <xs:element minOccurs="0" name="startTimeMax" type="xs:long" />
        <xs:element minOccurs="0" name="endTimeMin" type="xs:long" />
        <xs:element minOccurs="0" name="endTimeMax" type="xs:long" />
        <xs:element xmlns:q48="http://schemas.datacontract.org/2004/07/Rhozet.ApiLib" minOccurs="0" name="type" type="q48:TaskType" />
        <xs:element xmlns:q49="http://schemas.datacontract.org/2004/07/Rhozet.ApiLib" minOccurs="0" name="status" nillable="true" type="q49:ArrayOfTaskStatus" />
        <xs:element minOccurs="0" name="totalTaskCount" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTaskPageByScheduleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q50="http://schemas.datacontract.org/2004/07/Rhozet.ApiLib" minOccurs="0" name="GetTaskPageByScheduleResult" nillable="true" type="q50:ArrayOfTask" />
        <xs:element minOccurs="0" name="totalTaskCount" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTaskById">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q51="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="id" type="q51:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTaskByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q52="http://schemas.datacontract.org/2004/07/Rhozet.ApiLib" minOccurs="0" name="GetTaskByIdResult" nillable="true" type="q52:Task" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTaskListByType">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q53="http://schemas.datacontract.org/2004/07/Rhozet.ApiLib" minOccurs="0" name="type" type="q53:TaskType" />
        <xs:element minOccurs="0" name="since" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTaskListByTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q54="http://schemas.datacontract.org/2004/07/Rhozet.ApiLib" minOccurs="0" name="GetTaskListByTypeResult" nillable="true" type="q54:ArrayOfTask" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTaskPageByType">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q55="http://schemas.datacontract.org/2004/07/Rhozet.ApiLib" minOccurs="0" name="type" type="q55:TaskType" />
        <xs:element minOccurs="0" name="start" type="xs:int" />
        <xs:element minOccurs="0" name="count" type="xs:int" />
        <xs:element minOccurs="0" name="since" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTaskPageByTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q56="http://schemas.datacontract.org/2004/07/Rhozet.ApiLib" minOccurs="0" name="GetTaskPageByTypeResult" nillable="true" type="q56:ArrayOfTask" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTaskGuidPageByType">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q57="http://schemas.datacontract.org/2004/07/Rhozet.ApiLib" minOccurs="0" name="type" type="q57:TaskType" />
        <xs:element minOccurs="0" name="start" type="xs:int" />
        <xs:element minOccurs="0" name="count" type="xs:int" />
        <xs:element minOccurs="0" name="since" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTaskGuidPageByTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q58="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetTaskGuidPageByTypeResult" nillable="true" type="q58:ArrayOfguid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QueueJob">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q59="http://schemas.datacontract.org/2004/07/Rhozet.ApiLib" minOccurs="0" name="job" nillable="true" type="q59:Job" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QueueJobResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q60="http://schemas.datacontract.org/2004/07/Rhozet.ApiLib" minOccurs="0" name="QueueJobResult" nillable="true" type="q60:Job" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QueueComplexJob">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q61="http://schemas.datacontract.org/2004/07/Rhozet.ApiLib" minOccurs="0" name="job" nillable="true" type="q61:Job" />
        <xs:element minOccurs="0" name="replaceSourceFilters" type="xs:boolean" />
        <xs:element minOccurs="0" name="replaceTargetFilters" type="xs:boolean" />
        <xs:element minOccurs="0" name="populateDestinations" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QueueComplexJobResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q62="http://schemas.datacontract.org/2004/07/Rhozet.ApiLib" minOccurs="0" name="QueueComplexJobResult" nillable="true" type="q62:Job" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetJobAssets">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q63="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="jobGuid" type="q63:guid" />
        <xs:element xmlns:q64="http://schemas.datacontract.org/2004/07/Rhozet.ApiLib" minOccurs="0" name="taskType" type="q64:TaskType" />
        <xs:element xmlns:q65="http://schemas.datacontract.org/2004/07/Rhozet.ApiLib" minOccurs="0" name="subTaskType" type="q65:SubTaskType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetJobAssetsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q66="http://schemas.datacontract.org/2004/07/Rhozet.ApiLib" minOccurs="0" name="GetJobAssetsResult" nillable="true" type="q66:Asset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QueueWorkflowJob">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q67="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="watchGuid" type="q67:guid" />
        <xs:element minOccurs="0" name="sourceUri" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="targetUri" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QueueWorkflowJobResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q68="http://schemas.datacontract.org/2004/07/Rhozet.ApiLib" minOccurs="0" name="QueueWorkflowJobResult" nillable="true" type="q68:Job" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QueueWorkflowJobEx">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q69="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="workflowGuid" type="q69:guid" />
        <xs:element minOccurs="0" name="sourceUri" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="targetUri" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QueueWorkflowJobExResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q70="http://schemas.datacontract.org/2004/07/Rhozet.ApiLib" minOccurs="0" name="QueueWorkflowJobExResult" nillable="true" type="q70:Job" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QueueWorkflowTemplateJob">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="workflowTemplate" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sourceUri" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="targetUri" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QueueWorkflowTemplateJobResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q71="http://schemas.datacontract.org/2004/07/Rhozet.ApiLib" minOccurs="0" name="QueueWorkflowTemplateJobResult" nillable="true" type="q71:Job" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GenerateTemplateExJobByWorkflow">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="templateEx" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="workflowTemplate" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GenerateTemplateExJobByWorkflowResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q72="http://schemas.datacontract.org/2004/07/Rhozet.ApiLib" minOccurs="0" name="GenerateTemplateExJobByWorkflowResult" nillable="true" type="q72:Job" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QueueJobByWorkflowGuid">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q73="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="workflowGuid" type="q73:guid" />
        <xs:element minOccurs="0" name="source" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="target" nillable="true" type="xs:string" />
        <xs:element xmlns:q74="http://schemas.datacontract.org/2004/07/Rhozet.ApiLib" minOccurs="0" name="sourcefileType" type="q74:SourceFileType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QueueJobByWorkflowGuidResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q75="http://schemas.datacontract.org/2004/07/Rhozet.ApiLib" minOccurs="0" name="QueueJobByWorkflowGuidResult" nillable="true" type="q75:Job" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GenerateJobByWorkflowGuid">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q76="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="workflowGuid" type="q76:guid" />
        <xs:element minOccurs="0" name="sourceUri" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="targetUri" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GenerateJobByWorkflowGuidResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q77="http://schemas.datacontract.org/2004/07/Rhozet.ApiLib" minOccurs="0" name="GenerateJobByWorkflowGuidResult" nillable="true" type="q77:Job" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QueueJobByWorkflow">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="workflowTemplate" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sourceUri" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="targetUri" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QueueJobByWorkflowResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q78="http://schemas.datacontract.org/2004/07/Rhozet.ApiLib" minOccurs="0" name="QueueJobByWorkflowResult" nillable="true" type="q78:Job" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GenerateJobByWorkflowGuidAndType">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q79="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="workflowGuid" type="q79:guid" />
        <xs:element minOccurs="0" name="source" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="target" nillable="true" type="xs:string" />
        <xs:element xmlns:q80="http://schemas.datacontract.org/2004/07/Rhozet.ApiLib" minOccurs="0" name="sourceFileType" type="q80:SourceFileType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GenerateJobByWorkflowGuidAndTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q81="http://schemas.datacontract.org/2004/07/Rhozet.ApiLib" minOccurs="0" name="GenerateJobByWorkflowGuidAndTypeResult" nillable="true" type="q81:Job" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QueueJobByWatchFolderGuid">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q82="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="watchGuid" type="q82:guid" />
        <xs:element minOccurs="0" name="sourceUri" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="targetUri" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QueueJobByWatchFolderGuidResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q83="http://schemas.datacontract.org/2004/07/Rhozet.ApiLib" minOccurs="0" name="QueueJobByWatchFolderGuidResult" nillable="true" type="q83:Job" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GenerateJobByWorkflow">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="workflowTemplate" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sourceUri" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="targetUri" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GenerateJobByWorkflowResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q84="http://schemas.datacontract.org/2004/07/Rhozet.ApiLib" minOccurs="0" name="GenerateJobByWorkflowResult" nillable="true" type="q84:Job" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QueueJobXMLByWorkflowGuid">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sourceXml" nillable="true" type="xs:string" />
        <xs:element xmlns:q85="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="workflowTemplateGuid" type="q85:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QueueJobXMLByWorkflowGuidResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q86="http://schemas.datacontract.org/2004/07/Rhozet.ApiLib" minOccurs="0" name="QueueJobXMLByWorkflowGuidResult" nillable="true" type="q86:Job" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QueueJobXML">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sourceXml" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="targetPerTask" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QueueJobXMLResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q87="http://schemas.datacontract.org/2004/07/Rhozet.ApiLib" minOccurs="0" name="QueueJobXMLResult" nillable="true" type="q87:Job" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateJobStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q88="http://schemas.datacontract.org/2004/07/Rhozet.ApiLib" minOccurs="0" name="job" nillable="true" type="q88:ArrayOfJob" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateJobStatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateJobStatusResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetJob">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q89="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="id" type="q89:guid" />
        <xs:element minOccurs="0" name="includeTask" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetJobResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q90="http://schemas.datacontract.org/2004/07/Rhozet.ApiLib" minOccurs="0" name="GetJobResult" nillable="true" type="q90:Job" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="JobUpdate">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q91="http://schemas.datacontract.org/2004/07/Rhozet.ApiLib" minOccurs="0" name="job" nillable="true" type="q91:Job" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="JobUpdateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="JobUpdateResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetJobDashboard">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetJobDashboardResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q92="http://schemas.datacontract.org/2004/07/Rhozet.ApiLib" minOccurs="0" name="GetJobDashboardResult" nillable="true" type="q92:Dashboard" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetReplicationDashboard">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetReplicationDashboardResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q93="http://schemas.datacontract.org/2004/07/Rhozet.ApiLib" minOccurs="0" name="GetReplicationDashboardResult" nillable="true" type="q93:ReplicationDashboard" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetJobPageWithStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="start" type="xs:int" />
        <xs:element minOccurs="0" name="count" type="xs:int" />
        <xs:element minOccurs="0" name="since" type="xs:long" />
        <xs:element xmlns:q94="http://schemas.datacontract.org/2004/07/Rhozet.ApiLib" minOccurs="0" name="status" type="q94:JobStatus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetJobPageWithStatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q95="http://schemas.datacontract.org/2004/07/Rhozet.ApiLib" minOccurs="0" name="GetJobPageWithStatusResult" nillable="true" type="q95:ArrayOfJob" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetActiveJobsPage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="start" type="xs:int" />
        <xs:element minOccurs="0" name="count" type="xs:int" />
        <xs:element minOccurs="0" name="since" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetActiveJobsPageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q96="http://schemas.datacontract.org/2004/07/Rhozet.ApiLib" minOccurs="0" name="GetActiveJobsPageResult" nillable="true" type="q96:ArrayOfJob" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetJobPageByServiceId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="start" type="xs:int" />
        <xs:element minOccurs="0" name="count" type="xs:int" />
        <xs:element minOccurs="0" name="since" type="xs:long" />
        <xs:element minOccurs="0" name="serviceId" nillable="true" type="xs:string" />
        <xs:element xmlns:q97="http://schemas.datacontract.org/2004/07/Rhozet.ApiLib" minOccurs="0" name="status" nillable="true" type="q97:ArrayOfJobStatus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetJobPageByServiceIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q98="http://schemas.datacontract.org/2004/07/Rhozet.ApiLib" minOccurs="0" name="GetJobPageByServiceIdResult" nillable="true" type="q98:ArrayOfJob" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetJobPageBySchedule">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="start" type="xs:int" />
        <xs:element minOccurs="0" name="count" type="xs:int" />
        <xs:element minOccurs="0" name="since" type="xs:long" />
        <xs:element minOccurs="0" name="startTimeMin" type="xs:long" />
        <xs:element minOccurs="0" name="startTimeMax" type="xs:long" />
        <xs:element minOccurs="0" name="endTimeMin" type="xs:long" />
        <xs:element minOccurs="0" name="endTimeMax" type="xs:long" />
        <xs:element xmlns:q99="http://schemas.datacontract.org/2004/07/Rhozet.ApiLib" minOccurs="0" name="status" nillable="true" type="q99:ArrayOfJobStatus" />
        <xs:element xmlns:q100="http://schemas.datacontract.org/2004/07/Rhozet.ApiLib" minOccurs="0" name="taskType" type="q100:TaskType" />
        <xs:element minOccurs="0" name="totalJobCount" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetJobPageByScheduleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q101="http://schemas.datacontract.org/2004/07/Rhozet.ApiLib" minOccurs="0" name="GetJobPageByScheduleResult" nillable="true" type="q101:ArrayOfJob" />
        <xs:element minOccurs="0" name="totalJobCount" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetJobPageByTaskStatusAndType">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="start" type="xs:int" />
        <xs:element minOccurs="0" name="count" type="xs:int" />
        <xs:element minOccurs="0" name="since" type="xs:long" />
        <xs:element xmlns:q102="http://schemas.datacontract.org/2004/07/Rhozet.ApiLib" minOccurs="0" name="status" type="q102:JobStatus" />
        <xs:element xmlns:q103="http://schemas.datacontract.org/2004/07/Rhozet.ApiLib" minOccurs="0" name="tType" type="q103:TaskType" />
        <xs:element xmlns:q104="http://schemas.datacontract.org/2004/07/Rhozet.ApiLib" minOccurs="0" name="tStatus" type="q104:TaskStatus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetJobPageByTaskStatusAndTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q105="http://schemas.datacontract.org/2004/07/Rhozet.ApiLib" minOccurs="0" name="GetJobPageByTaskStatusAndTypeResult" nillable="true" type="q105:ArrayOfJob" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetJobPageWithTaskAndStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="start" type="xs:int" />
        <xs:element minOccurs="0" name="count" type="xs:int" />
        <xs:element minOccurs="0" name="since" type="xs:long" />
        <xs:element xmlns:q106="http://schemas.datacontract.org/2004/07/Rhozet.ApiLib" minOccurs="0" name="status" type="q106:JobStatus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetJobPageWithTaskAndStatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q107="http://schemas.datacontract.org/2004/07/Rhozet.ApiLib" minOccurs="0" name="GetJobPageWithTaskAndStatusResult" nillable="true" type="q107:ArrayOfJob" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveJobsWithStatusByTaskStatusAndType">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q108="http://schemas.datacontract.org/2004/07/Rhozet.ApiLib" minOccurs="0" name="status" type="q108:JobStatus" />
        <xs:element xmlns:q109="http://schemas.datacontract.org/2004/07/Rhozet.ApiLib" minOccurs="0" name="tType" type="q109:TaskType" />
        <xs:element xmlns:q110="http://schemas.datacontract.org/2004/07/Rhozet.ApiLib" minOccurs="0" name="tStatus" type="q110:TaskStatus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveJobsWithStatusByTaskStatusAndTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RemoveJobsWithStatusByTaskStatusAndTypeResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveJobsWithStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q111="http://schemas.datacontract.org/2004/07/Rhozet.ApiLib" minOccurs="0" name="status" type="q111:JobStatus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveJobsWithStatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RemoveJobsWithStatusResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetJobPage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="start" type="xs:int" />
        <xs:element minOccurs="0" name="count" type="xs:int" />
        <xs:element minOccurs="0" name="since" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetJobPageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q112="http://schemas.datacontract.org/2004/07/Rhozet.ApiLib" minOccurs="0" name="GetJobPageResult" nillable="true" type="q112:ArrayOfJob" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetJobPageWithTask">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="start" type="xs:int" />
        <xs:element minOccurs="0" name="count" type="xs:int" />
        <xs:element minOccurs="0" name="since" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetJobPageWithTaskResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q113="http://schemas.datacontract.org/2004/07/Rhozet.ApiLib" minOccurs="0" name="GetJobPageWithTaskResult" nillable="true" type="q113:ArrayOfJob" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetJobCount">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q114="http://schemas.datacontract.org/2004/07/Rhozet.ApiLib" minOccurs="0" name="status" type="q114:JobStatus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetJobCountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetJobCountResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveJob">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q115="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="guid" type="q115:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveJobResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RemoveJobResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTemplateModuleListByType">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q116="http://schemas.datacontract.org/2004/07/Rhozet.ApiLib" minOccurs="0" name="type" type="q116:ModuleType" />
        <xs:element xmlns:q117="http://schemas.datacontract.org/2004/07/Rhozet.ApiLib" minOccurs="0" name="subtype" type="q117:ModuleSubType" />
        <xs:element minOccurs="0" name="since" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTemplateModuleListByTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q118="http://schemas.datacontract.org/2004/07/Rhozet.ApiLib" minOccurs="0" name="GetTemplateModuleListByTypeResult" nillable="true" type="q118:ArrayOfModule" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetModulePage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="start" type="xs:int" />
        <xs:element minOccurs="0" name="count" type="xs:int" />
        <xs:element minOccurs="0" name="since" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetModulePageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q119="http://schemas.datacontract.org/2004/07/Rhozet.ApiLib" minOccurs="0" name="GetModulePageResult" nillable="true" type="q119:ArrayOfModule" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetModulePageBySubType">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q120="http://schemas.datacontract.org/2004/07/Rhozet.ApiLib" minOccurs="0" name="subtype" type="q120:ModuleSubType" />
        <xs:element minOccurs="0" name="start" type="xs:int" />
        <xs:element minOccurs="0" name="count" type="xs:int" />
        <xs:element minOccurs="0" name="since" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetModulePageBySubTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q121="http://schemas.datacontract.org/2004/07/Rhozet.ApiLib" minOccurs="0" name="GetModulePageBySubTypeResult" nillable="true" type="q121:ArrayOfModule" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTemplateModulePageByType">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q122="http://schemas.datacontract.org/2004/07/Rhozet.ApiLib" minOccurs="0" name="type" type="q122:ModuleType" />
        <xs:element xmlns:q123="http://schemas.datacontract.org/2004/07/Rhozet.ApiLib" minOccurs="0" name="subtype" type="q123:ModuleSubType" />
        <xs:element minOccurs="0" name="start" type="xs:int" />
        <xs:element minOccurs="0" name="count" type="xs:int" />
        <xs:element minOccurs="0" name="since" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTemplateModulePageByTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q124="http://schemas.datacontract.org/2004/07/Rhozet.ApiLib" minOccurs="0" name="GetTemplateModulePageByTypeResult" nillable="true" type="q124:ArrayOfModule" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDistinctModuleSubTypes">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q125="http://schemas.datacontract.org/2004/07/Rhozet.ApiLib" minOccurs="0" name="subtype" type="q125:ModuleSubType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDistinctModuleSubTypesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q126="http://schemas.datacontract.org/2004/07/Rhozet.ApiLib" minOccurs="0" name="GetDistinctModuleSubTypesResult" nillable="true" type="q126:ArrayOfModuleSubType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveModuleScheme">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q127="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="id" type="q127:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveModuleSchemeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RemoveModuleSchemeResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StoreModuleScheme">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q128="http://schemas.datacontract.org/2004/07/Rhozet.ApiLib" minOccurs="0" name="Module" nillable="true" type="q128:ModuleScheme" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StoreModuleSchemeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q129="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="StoreModuleSchemeResult" type="q129:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetModuleScheme">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q130="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="guid" type="q130:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetModuleSchemeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q131="http://schemas.datacontract.org/2004/07/Rhozet.ApiLib" minOccurs="0" name="GetModuleSchemeResult" nillable="true" type="q131:ModuleScheme" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetModuleSchemeList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetModuleSchemeListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q132="http://schemas.datacontract.org/2004/07/Rhozet.ApiLib" minOccurs="0" name="GetModuleSchemeListResult" nillable="true" type="q132:ArrayOfModuleScheme" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetModuleSchemePage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="start" type="xs:int" />
        <xs:element minOccurs="0" name="count" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetModuleSchemePageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q133="http://schemas.datacontract.org/2004/07/Rhozet.ApiLib" minOccurs="0" name="GetModuleSchemePageResult" nillable="true" type="q133:ArrayOfModuleScheme" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EnableFetcher">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="fetcherId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="enabled" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EnableFetcherResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EnableFetcherResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsFetcherEnabledEx">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="fetcherId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsFetcherEnabledExResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IsFetcherEnabledExResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterFetcherEx">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q134="http://schemas.datacontract.org/2004/07/Rhozet.ApiLib" minOccurs="0" name="type" type="q134:FetcherType" />
        <xs:element xmlns:q135="http://schemas.datacontract.org/2004/07/Rhozet.ApiLib" minOccurs="0" name="roles" nillable="true" type="q135:ArrayOfTaskType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterFetcherExResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RegisterFetcherExResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterFetcher">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q136="http://schemas.datacontract.org/2004/07/Rhozet.ApiLib" minOccurs="0" name="fetcher" nillable="true" type="q136:Fetcher" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterFetcherResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RegisterFetcherResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateFetcherStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q137="http://schemas.datacontract.org/2004/07/Rhozet.ApiLib" minOccurs="0" name="fetcher" nillable="true" type="q137:FetcherStatus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateFetcherStatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateFetcherStatusResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateMachineStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q138="http://schemas.datacontract.org/2004/07/Rhozet.ApiLib" minOccurs="0" name="machineStatus" nillable="true" type="q138:MachineStatus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateMachineStatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateMachineStatusResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFetcherById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="serviceId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFetcherByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q139="http://schemas.datacontract.org/2004/07/Rhozet.ApiLib" minOccurs="0" name="GetFetcherByIdResult" nillable="true" type="q139:Fetcher" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFetcherList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="since" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFetcherListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q140="http://schemas.datacontract.org/2004/07/Rhozet.ApiLib" minOccurs="0" name="GetFetcherListResult" nillable="true" type="q140:ArrayOfFetcher" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFetcherPage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="start" type="xs:int" />
        <xs:element minOccurs="0" name="count" type="xs:int" />
        <xs:element minOccurs="0" name="since" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFetcherPageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q141="http://schemas.datacontract.org/2004/07/Rhozet.ApiLib" minOccurs="0" name="GetFetcherPageResult" nillable="true" type="q141:ArrayOfFetcher" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveFetcher">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="fetcherId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveFetcherResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RemoveFetcherResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFetcherConfig">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="fetcherId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFetcherConfigResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetFetcherConfigResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StoreFetcherConfig">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="fetcherId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="config" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StoreFetcherConfigResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="StoreFetcherConfigResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FetchTask">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="fetcherId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="count" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FetchTaskResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q142="http://schemas.datacontract.org/2004/07/Rhozet.ApiLib" minOccurs="0" name="FetchTaskResult" nillable="true" type="q142:ArrayOfTask" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FetchTaskWithComplexity">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="fetcherId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="count" type="xs:int" />
        <xs:element minOccurs="0" name="complexity" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FetchTaskWithComplexityResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q143="http://schemas.datacontract.org/2004/07/Rhozet.ApiLib" minOccurs="0" name="FetchTaskWithComplexityResult" nillable="true" type="q143:ArrayOfTask" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FetchTaskByType">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="fetcherId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="count" type="xs:int" />
        <xs:element xmlns:q144="http://schemas.datacontract.org/2004/07/Rhozet.ApiLib" minOccurs="0" name="type" type="q144:TaskType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FetchTaskByTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q145="http://schemas.datacontract.org/2004/07/Rhozet.ApiLib" minOccurs="0" name="FetchTaskByTypeResult" nillable="true" type="q145:ArrayOfTask" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FetchTaskById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="fetcherId" nillable="true" type="xs:string" />
        <xs:element xmlns:q146="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="taskId" type="q146:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FetchTaskByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q147="http://schemas.datacontract.org/2004/07/Rhozet.ApiLib" minOccurs="0" name="FetchTaskByIdResult" nillable="true" type="q147:Task" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateTaskStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="fetcherId" nillable="true" type="xs:string" />
        <xs:element xmlns:q148="http://schemas.datacontract.org/2004/07/Rhozet.ApiLib" minOccurs="0" name="task" nillable="true" type="q148:ArrayOfTask" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateTaskStatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q149="http://schemas.datacontract.org/2004/07/Rhozet.ApiLib" minOccurs="0" name="UpdateTaskStatusResult" nillable="true" type="q149:ArrayOfTask" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTaskListByJobId">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q150="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="id" type="q150:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTaskListByJobIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q151="http://schemas.datacontract.org/2004/07/Rhozet.ApiLib" minOccurs="0" name="GetTaskListByJobIdResult" nillable="true" type="q151:ArrayOfTask" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTasksUpdatedSinceByJobId">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q152="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="id" type="q152:guid" />
        <xs:element minOccurs="0" name="since" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTasksUpdatedSinceByJobIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q153="http://schemas.datacontract.org/2004/07/Rhozet.ApiLib" minOccurs="0" name="GetTasksUpdatedSinceByJobIdResult" nillable="true" type="q153:ArrayOfTask" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTaskCountEx">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q154="http://schemas.datacontract.org/2004/07/Rhozet.ApiLib" minOccurs="0" name="status" type="q154:TaskStatus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTaskCountExResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetTaskCountExResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTaskCount">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q155="http://schemas.datacontract.org/2004/07/Rhozet.ApiLib" minOccurs="0" name="status" type="q155:TaskStatus" />
        <xs:element xmlns:q156="http://schemas.datacontract.org/2004/07/Rhozet.ApiLib" minOccurs="0" name="type" type="q156:TaskType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTaskCountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetTaskCountResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVersion">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVersionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q157="http://schemas.datacontract.org/2004/07/System" minOccurs="0" name="GetVersionResult" nillable="true" type="q157:Version" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetConnectionString">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetConnectionStringResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetConnectionStringResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetJMGroup">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetJMGroupResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q158="http://schemas.datacontract.org/2004/07/Rhozet.ApiLib" minOccurs="0" name="GetJMGroupResult" nillable="true" type="q158:JobManagerGroup" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBindingPort">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBindingPortResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetBindingPortResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StoreLogs">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q159="http://schemas.datacontract.org/2004/07/Rhozet.ApiLib" minOccurs="0" name="log" nillable="true" type="q159:ArrayOfErrorLog" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StoreLogsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="StoreLogsResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetErrorLog">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q160="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="id" type="q160:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetErrorLogResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q161="http://schemas.datacontract.org/2004/07/Rhozet.ApiLib" minOccurs="0" name="GetErrorLogResult" nillable="true" type="q161:ErrorLog" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetErrorLogByReferenceId">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q162="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="id" type="q162:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetErrorLogByReferenceIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q163="http://schemas.datacontract.org/2004/07/Rhozet.ApiLib" minOccurs="0" name="GetErrorLogByReferenceIdResult" nillable="true" type="q163:ArrayOfErrorLog" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetErrorLogPage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="start" type="xs:int" />
        <xs:element minOccurs="0" name="count" type="xs:int" />
        <xs:element minOccurs="0" name="since" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetErrorLogPageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q164="http://schemas.datacontract.org/2004/07/Rhozet.ApiLib" minOccurs="0" name="GetErrorLogPageResult" nillable="true" type="q164:ArrayOfErrorLog" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetErrorLogList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="since" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetErrorLogListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q165="http://schemas.datacontract.org/2004/07/Rhozet.ApiLib" minOccurs="0" name="GetErrorLogListResult" nillable="true" type="q165:ArrayOfErrorLog" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StoreTaskPropertyEx">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q166="http://schemas.datacontract.org/2004/07/Rhozet.ApiLib" minOccurs="0" name="property" nillable="true" type="q166:TaskPropertyEx" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StoreTaskPropertyExResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q167="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="StoreTaskPropertyExResult" type="q167:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StoreTaskPropertiesEx">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q168="http://schemas.datacontract.org/2004/07/Rhozet.ApiLib" minOccurs="0" name="properties" nillable="true" type="q168:ArrayOfTaskPropertyEx" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StoreTaskPropertiesExResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="StoreTaskPropertiesExResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTaskPropertyExById">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q169="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="id" type="q169:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTaskPropertyExByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q170="http://schemas.datacontract.org/2004/07/Rhozet.ApiLib" minOccurs="0" name="GetTaskPropertyExByIdResult" nillable="true" type="q170:TaskPropertyEx" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTaskPropertyExByReferenceId">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q171="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="id" type="q171:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTaskPropertyExByReferenceIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q172="http://schemas.datacontract.org/2004/07/Rhozet.ApiLib" minOccurs="0" name="GetTaskPropertyExByReferenceIdResult" nillable="true" type="q172:ArrayOfTaskPropertyEx" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTaskPropertyExByRefNamSeq">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q173="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="id" type="q173:guid" />
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sequence" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTaskPropertyExByRefNamSeqResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q174="http://schemas.datacontract.org/2004/07/Rhozet.ApiLib" minOccurs="0" name="GetTaskPropertyExByRefNamSeqResult" nillable="true" type="q174:ArrayOfTaskPropertyEx" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTaskPropertyExPage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="start" type="xs:int" />
        <xs:element minOccurs="0" name="count" type="xs:int" />
        <xs:element minOccurs="0" name="since" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTaskPropertyExPageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q175="http://schemas.datacontract.org/2004/07/Rhozet.ApiLib" minOccurs="0" name="GetTaskPropertyExPageResult" nillable="true" type="q175:ArrayOfTaskPropertyEx" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemovePreset">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q176="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="id" type="q176:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemovePresetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RemovePresetResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StorePreset">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q177="http://schemas.datacontract.org/2004/07/Rhozet.ApiLib" minOccurs="0" name="Preset" nillable="true" type="q177:Preset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StorePresetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q178="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="StorePresetResult" type="q178:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StoreXMLPreset">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="presetXML" nillable="true" type="xs:string" />
        <xs:element xmlns:q179="http://schemas.datacontract.org/2004/07/Rhozet.ApiLib" minOccurs="0" name="type" type="q179:PresetType" />
        <xs:element xmlns:q180="http://schemas.datacontract.org/2004/07/Rhozet.ApiLib" minOccurs="0" name="subType" type="q180:PresetSubType" />
        <xs:element minOccurs="0" name="overwrite" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StoreXMLPresetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q181="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="StoreXMLPresetResult" type="q181:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPreset">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q182="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="guid" type="q182:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPresetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q183="http://schemas.datacontract.org/2004/07/Rhozet.ApiLib" minOccurs="0" name="GetPresetResult" nillable="true" type="q183:Preset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPresetXmlById">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q184="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="guid" type="q184:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPresetXmlByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetPresetXmlByIdResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPresets">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q185="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="presetGuids" nillable="true" type="q185:ArrayOfguid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPresetsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q186="http://schemas.datacontract.org/2004/07/Rhozet.ApiLib" minOccurs="0" name="GetPresetsResult" nillable="true" type="q186:ArrayOfPreset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPresetList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="since" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPresetListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q187="http://schemas.datacontract.org/2004/07/Rhozet.ApiLib" minOccurs="0" name="GetPresetListResult" nillable="true" type="q187:ArrayOfPreset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPresetIdList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="systemPreset" type="xs:boolean" />
        <xs:element xmlns:q188="http://schemas.datacontract.org/2004/07/Rhozet.ApiLib" minOccurs="0" name="type" type="q188:PresetType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPresetIdListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q189="http://schemas.datacontract.org/2004/07/Rhozet.ApiLib" minOccurs="0" name="GetPresetIdListResult" nillable="true" type="q189:ArrayOfPresetGuidWithUpdateDateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPresetListByType">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q190="http://schemas.datacontract.org/2004/07/Rhozet.ApiLib" minOccurs="0" name="type" type="q190:PresetType" />
        <xs:element minOccurs="0" name="since" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPresetListByTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q191="http://schemas.datacontract.org/2004/07/Rhozet.ApiLib" minOccurs="0" name="GetPresetListByTypeResult" nillable="true" type="q191:ArrayOfPreset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPresetListByCategory">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="category" nillable="true" type="xs:string" />
        <xs:element xmlns:q192="http://schemas.datacontract.org/2004/07/Rhozet.ApiLib" minOccurs="0" name="type" type="q192:PresetType" />
        <xs:element minOccurs="0" name="since" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPresetListByCategoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q193="http://schemas.datacontract.org/2004/07/Rhozet.ApiLib" minOccurs="0" name="GetPresetListByCategoryResult" nillable="true" type="q193:ArrayOfPreset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPresetPage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="start" type="xs:int" />
        <xs:element minOccurs="0" name="count" type="xs:int" />
        <xs:element minOccurs="0" name="since" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPresetPageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q194="http://schemas.datacontract.org/2004/07/Rhozet.ApiLib" minOccurs="0" name="GetPresetPageResult" nillable="true" type="q194:ArrayOfPreset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPresetPageByType">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q195="http://schemas.datacontract.org/2004/07/Rhozet.ApiLib" minOccurs="0" name="type" type="q195:PresetType" />
        <xs:element minOccurs="0" name="start" type="xs:int" />
        <xs:element minOccurs="0" name="count" type="xs:int" />
        <xs:element minOccurs="0" name="since" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPresetPageByTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q196="http://schemas.datacontract.org/2004/07/Rhozet.ApiLib" minOccurs="0" name="GetPresetPageByTypeResult" nillable="true" type="q196:ArrayOfPreset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPresetPageByCategory">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="category" nillable="true" type="xs:string" />
        <xs:element xmlns:q197="http://schemas.datacontract.org/2004/07/Rhozet.ApiLib" minOccurs="0" name="type" type="q197:PresetType" />
        <xs:element minOccurs="0" name="start" type="xs:int" />
        <xs:element minOccurs="0" name="count" type="xs:int" />
        <xs:element minOccurs="0" name="since" type="xs:long" />
        <xs:element minOccurs="0" name="hidden" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPresetPageByCategoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q198="http://schemas.datacontract.org/2004/07/Rhozet.ApiLib" minOccurs="0" name="GetPresetPageByCategoryResult" nillable="true" type="q198:ArrayOfPreset" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsPresetNameAvailable">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="presetName" nillable="true" type="xs:string" />
        <xs:element xmlns:q199="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="presetGuid" type="q199:guid" />
        <xs:element minOccurs="0" name="category" nillable="true" type="xs:string" />
        <xs:element xmlns:q200="http://schemas.datacontract.org/2004/07/Rhozet.ApiLib" minOccurs="0" name="type" type="q200:PresetType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsPresetNameAvailableResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IsPresetNameAvailableResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDistinctPresetTypes">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDistinctPresetTypesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q201="http://schemas.datacontract.org/2004/07/Rhozet.ApiLib" minOccurs="0" name="GetDistinctPresetTypesResult" nillable="true" type="q201:ArrayOfPresetType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveModule">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q202="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="id" type="q202:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveModuleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RemoveModuleResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StoreModule">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q203="http://schemas.datacontract.org/2004/07/Rhozet.ApiLib" minOccurs="0" name="Module" nillable="true" type="q203:Module" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StoreModuleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q204="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="StoreModuleResult" type="q204:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetModule">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q205="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="guid" type="q205:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetModuleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q206="http://schemas.datacontract.org/2004/07/Rhozet.ApiLib" minOccurs="0" name="GetModuleResult" nillable="true" type="q206:Module" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetModuleList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="since" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetModuleListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q207="http://schemas.datacontract.org/2004/07/Rhozet.ApiLib" minOccurs="0" name="GetModuleListResult" nillable="true" type="q207:ArrayOfModule" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetModuleListBySubType">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q208="http://schemas.datacontract.org/2004/07/Rhozet.ApiLib" minOccurs="0" name="subtype" type="q208:ModuleSubType" />
        <xs:element minOccurs="0" name="since" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetModuleListBySubTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q209="http://schemas.datacontract.org/2004/07/Rhozet.ApiLib" minOccurs="0" name="GetModuleListBySubTypeResult" nillable="true" type="q209:ArrayOfModule" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>