ConaxWorkflowManager/Core/Service References/CarbonEncoder/item2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://Rhozet.com/Rhozet.Services.IWfcJmServices" elementFormDefault="qualified" targetNamespace="http://Rhozet.com/Rhozet.Services.IWfcJmServices" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://10.4.1.42:8731/Rhozet.JobManager.JMServices/?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/Rhozet.JobManager" />
  <xs:import schemaLocation="http://10.4.1.42:8731/Rhozet.JobManager.JMServices/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Rhozet.ApiLib" />
  <xs:element name="GetLocalBindingIp">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLocalBindingIpResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetLocalBindingIpResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetConnectionString">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="connectionString" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetConnectionStringResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SetLocalBindingIp">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Ip" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetLocalBindingIpResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="TestConnectionString">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="connectionString" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TestConnectionStringResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TestConnectionStringResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetJobManagerStatus">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetJobManagerStatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Rhozet.JobManager" minOccurs="0" name="GetJobManagerStatusResult" type="q1:JobManagerStatus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ApplyConfigurationChanges">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Rhozet.ApiLib" minOccurs="0" name="GroupConfiguration" nillable="true" type="q2:JobManagerGroup" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ApplyConfigurationChangesResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDatabaseReplicationStatus">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDatabaseReplicationStatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Rhozet.JobManager" minOccurs="0" name="GetDatabaseReplicationStatusResult" type="q3:DatabaseReplicationStatus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>